* {
    margin: 0;
    padding: 0;
}

h1 {
    /* arriba dereita abaixo izquerda */
    margin: 40px 0 40px 0;
    color: aliceblue;
}

body {
    background-color: rgb(7, 7, 28);
}

.box,
form {
    /* gap espaciamento entre todos os elementos */
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 25px;
    border-radius: 30px;
    padding: 0 15px 0 15px;
}

button {
    width: 150px;
    height: 25px;
}